

.header {
  font-family: Baskerville;
  font-size: 18px;
  font-weight: bold;
  background-color: black;
  display: flex;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: black;
}

.header li a {
  display: inline-flex;
  padding: 0px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: black;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}


/* menu */

.header .menu {
  clear: both;
  transition: max-height .2s ease-out;
  display: inline-flex;
  margin: auto 0 auto auto;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: none;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: none;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: '';
  display: none;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  display: block;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


a{
  color:white;
  text-decoration: none;
  font-family: Baskerville;
  font-size: 20px;
  font-weight: bold;
}
a:hover{
  opacity: .65;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.nav-container{
  z-index: 10;
  position: fixed;
  color: white;
  display: flex; 
  height: 60px;
  width: 100%;
  background-color: black;
}

.nav-title {
  margin: 10px 483px 10px 25px;
  width: 507px;
  height: 40px;
  font-family: Baskerville;
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.36px;
}
.heroimg{
  width: 100%;
  height: 80vh;
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

.link-container {
  margin: 20px;
}

/* .nav-link {
  margin: 0px 40px;
  width: 58px;
  height: 24px;
  font-family: SFProText;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-decoration: none;
} */

body {
  background-color: black;
}

/* #hero {
  height: 650px;
  background: url('./assets/hero.jpg'); */
  /* background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover; */
/* } */



.abouth3 {
  font-family: Baskerville;
  font-size: 25px;
  margin: 0 123px;
  letter-spacing: 0.18px;
  color: white;
  /* display: grid;
  grid-template-columns: repeat(2, 2fr); */
}

.aboutp {
  font-family: SFProText;
  font-size: 18px;
  letter-spacing: 0.14px;
  color: white;
  margin-left: 10px;
  display: grid;
  grid-template-columns: 2fr;
  /* grid-template-rows: auto 1fr 3fr; */
  /* grid-template-areas:
  "title title title"
  "main header header"; */

}

.reviewsp {
  font-family: SFProText;
  max-height: 5%;
}

.reviewstitle {
  font-family: Baskerville;
}

.reviews {
    position: relative;
    text-align: left;
    height: auto;
}

.reviewsimg {
  z-index: -1;
  /* width: 100%; */
  /* height: 60% */
}

.reviewstext {
  /* margin-right: 60%;
  /* max-height: 50%; */
  margin-left: 30px;
  color:white;
  font-size: 20px;
  position: absolute;
  font-family: SFProText;
  top: 28px;
  right: 66vw; 
  text-align: left;
  max-height: 5%;
}
.reviewstext > p {
  font-family: SFProText;
  font-size: 1em;
  margin: 100px 45px;
  letter-spacing: 1.31px;
}
.reviewstext > h4 {
  font-family: SFProText;
  font-size: 1.5em;
  margin: 0 100px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .reviews { display: none; }  
}

.reviews-title {
  font-family: Baskerville;
}

.contact-page {
  background-color: #060403;
  padding: 5vw;
}

.map-and-address {
  width: 100%;
}

.contact {
  font-family: SFProText;
  color: white;
  font-size: 2em;
  font-weight: bold;
  justify-content: left;
  padding-top: 5vh;
}

.map {
 width: 45%;
 margin-top: 4vh;
 padding-left: 40px;
}

.address {
  margin-top: 4vh;
  width: 35%;
  margin-left: 30px;
}


/* ----------HISTORY SECTION---------- */

 .history {
  position: relative;
  min-height: 970px; 
 opacity: 0.88;
  
}

.history-image {
  position: absolute;
  top: 0;
  left:0;
  height: 100%;
  border: 2px solid black;
}

.history-title {
  position: absolute;
  left: 7.7%;
  top: 4.84%;
  color: white;
  z-index: 1;
  font-family: Baskerville;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.31px;
}

.bar-text-div {
  position: absolute;
  top: 20.5%;
  left: 11%;
  width:80%;
  background-color: #070503;
}

img {
  width: 100%;
}

.bar-text {
  position: absolute;
  width: 45.76%;
  top: 20.5%;
  right: 7.43%;
  font-family: SFProText;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 0.2px;
  color:white;
}


html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html, body{
  box-sizing: border-box;
}
a{
  color:white;
}
a:hover{
  color:gray;
}
/* --------------END HISTORY SECTION------------ */

@media (max-width: 600px)  {
  .history-title {
   left: 5.06%;
  }
  .history-image {
    opacity: 0.43;
    /* border: 1px solid white; */
  }

  .bar-text-div {
    z-index:1;
    top: 12.45%;
   /* left: -28%; */
    
  }

  .bar-text {
    position: absolute;
    max-height: 100px;
    width: 75%;
  }
  
  .map {
    display: block;
    width: 90%;
    padding-left: 10px;
  }

  .address {
    width: 70%;
    padding-bottom: 20px;
  }

  contact-page {
    font-size: 10px;
  }

}

@media (max-width: 420px) {
  .heroimg{
    height: 50vh;
  }

  .header .menu {
    display: none;
  }

  .header{
    max-width: 420px;
    display: block;
  }

  .header .menu-icon .navicon {
    display: block;
    transition: all .2s ease-out;
    -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out;
  }

  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
      display: block;
      transition: all .2s ease-out;
  }

  .header .menu-icon {
    display: inline-block;
  }
  .header .logo{
    float: right;
    font-size: 1.1em;
    margin: 7px 18px -50px 0px;
  }
  
  .contact-page{
    position: absolute;
  }
}
@media (min-width: 1000px)  {
  .bar-text-div {
   /* display: none; */
   position: relative;
   top: 10%;
   left: 11%;
   height: 400px;
  }

  .bar-text {
    position: absolute;
    width:35%;
    top: 5%;
    max-height: 200px;
    
  }

  .history-image {
    width: 40%;
    /* opacity: 0.53; */
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .bar-text-div {
    position: absolute;
    top: 20%;
    
    /* margin-bottom: 100px; */
    z-index: 2;
    height: auto;
  }

  .bar-text {
    margin-bottom: 100px;
    width: 75%;
    max-height: 100px;
  }

  .history-image {
    opacity: 0.53;
  }
}

@media (min-width: 375px) and (max-width: 600px) {

 
  .bar-text {
    top: 10%;
    max-height: 75px;
  }

  .bar-text-div {
    max-height: 150px;
  }
}

@media (max-width: 580px) {
  .bar-history-title {
    display: none;
  }

  .bar-text-div {
    top: 5%;
  }

  .bar-text {
    max-height: 75px;

  }
}

@media (min-wisth: 600pc) {
  history-image {
    opacity: 0.53
  }
}
